.page {
    // width: auto;
    // height: auto;
    border: 1px solid rgb(224, 223, 221);
    border-radius: 10px;
    display: flex;
    height: auto;
    // justify-content: center;
    // align-items: center;
    // align-content: center;
    width: 100%;
    
}

.page:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.block {
    width: 200px;
    height: auto;
    
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    
}

.co-pg-dt {

    // padding: 1%;
    // padding-left: 0px;
    // justify-content: space-evenly;

    padding-left: 12px;
    padding-top: 12px;
    word-wrap: break-word;
    break-inside: avoid;
}

.main-co {
    margin-top: 80px;
    // margin-left: 180px;
    // display: flex;
    // flex-wrap: wrap;
    // flex-direction: row;
    width: auto;
    height: auto;
    // align-content: space-between;   
    // word-wrap: break-word;
    // letter-spacing: 1px;
    columns: 5;
    column-gap: 1px;
    
        
  
    
}

.co-pg-dt {
    width: 240px;
    height: auto;  
  
  
}

.tx-ti-bl {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 17px;


}

.ic-all {

    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 108%;
    height: 35px;
    background: transparent;


}

.page:hover .ic-all {
    visibility: visible;


}

// // .mat-typography p {

// //     display: flex;
// //     justify-content: center;
// //     align-items: center;
// // }

.tx-ds-bl,
.tx-ti-bl {
    margin-top: 20px;
    align-items: center;
    justify-content: center;

}

@media screen and (max-width: 450px) {
.main-co{
    margin-top: 50px;
    margin-left: 92px;
    width: 72%;
    columns: 1;
    column-gap: 1px;
}
.co-pg-dt{
    width: 100%;
    height: auto;
}
.page{

    width: 105%;
}
.block{
    width: 298px;
}
.block-new{
    width: 270px;
}
.ic-all{
    margin-left: 0%;
}
}
@media screen and (max-width: 767px) and (min-width: 450px)
{
    .co-pg-dt{
        width: 100%;
        height: auto;
        
    }
    .block{
        width: 370Px;
    }
    .ic-all {

        justify-content: flex-start;
   
    }
    .main-co{
        margin-top: 50px;
        margin-left: 190px;
        width: 85%;
        columns: 1;
    column-gap: 1px;
 
    }
    .page{
        border: 1px solid rgb(224, 223, 221);
        border-radius: 10px;
        display: flex;
        width: 108%;
    }

}
@media screen and (max-width: 1023px) and (min-width: 767px){
    .co-pg-dt{
        width: 240px;
        height: auto;
        
    }
    .block{
        width: 200Px;
    }
    .ic-all {

        justify-content: flex-start;
   
    }
    .main-co{
        margin-top: 50px;
        margin-left: 190px;
        width: 85%;
        columns: 3;
    column-gap: 5px;
 
    }
    .page{
        border: 1px solid rgb(224, 223, 221);
        border-radius: 10px;
        display: flex;
        // width: 108%;
    }
}




