.container{
    width: 600px;
    height: auto;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    
}
.small-co{
    width: 100%;
    height: 50%;
    margin-left: 25%;
}
.in-ta-no{
    width: 100%;
height: 20px;

    border: 0px;
    outline: none;
    font-weight: bold;
    font-family: sans-serif;
}
.in-ta-dis{
    width: 100%;
    height: 60px;
    border: 0px;
    outline: none;
    font-weight: bold;
    font-family: sans-serif;    
}
.Bu-cl{
    margin-left: 250px;
    margin-right: 0px;
    font-size: 15px;
    width: 70px;
    height: 40px;
    border: 0px;
    background-color: white;
    outline: none;
    font-weight: bold;

}
.Bu-cl:hover{
    background-color: #c0bdbd;
    border-radius: 10px;
}
.ic-all{
    margin-top: -60px;
    

}
.ic-bu{
    display: flex;
    
    align-items: center;
    
}
.lks{
    display: flex;
    justify-content: space-evenly;
    background: transparent;
}

.grid:hover{
    background-color: #d5d6d7;
    border-radius: 50px;

    
}
.grid {
    position: relative;
    display: inline-block;
    background-color: transparent;

    border: 0px;

}


.grid .piking {
    visibility: hidden;
    width: 85px;
    height: 20px;
    background-color: rgb(46, 46, 46);
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 6px;
    margin-top: 30px;
    margin-left: -47px;
    position: absolute;
    vertical-align: middle;
    z-index: 1;
}

.grid:hover .piking {
    visibility: visible;
    border-radius: 50px;
    background-color: #9b9b9b;
}
.mat-mdc-menu-content {
    
    width: 5px;
    height: 5px;
   
}


.material-symbols-outlined {
  color: rgb(57, 56, 56);
  
}
.trash{
    margin-top: 70px;
    display: flex;
    justify-content: flex-start;

}
.drop{
    width: 10px;
}

::ng-deep.mat-mdc-menu-content{

    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    width:70%;
    height: auto;
    align-content: space-between;   
    word-wrap: break-word;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
::ng-deep.mat-mdc-menu-panel.mat-mdc-menu-panel{
    min-width:10px;
    max-width: 400px;
    width: 360px;
    display: contents;
    border-color: #fff;
    
}
.border-color{
    border: 1px solid black;
    border-radius: 70%;
    margin-left: 15px;

}
::ng-deep.mat-expansion-panel:not([class*=mat-elevation-z]){
    box-shadow: 0px 5px 3px -2px rgba(0, 0, 0, 0.2), 0px 4px 4px 0px rgba(0, 0, 0, 0.14), 0px 3px 7px 0px rgba(0, 0, 0, 0.12);
}
.mat-accordion>.mat-expansion-panel-spacing:first-child, .mat-accordion>*:first-child:not(.mat-expansion-panel) .mat-expansion-panel-spacing {
    margin-top: 0;
    BORDER-RADIUS: 10PX;
}
.mat-accordion .mat-expansion-panel:first-of-type {
    BORDER-RADIUS: 7PX;
}

@media screen and (max-width: 450px){
    .container{
        width: 75%;
        height: auto;
        margin-top: 60px;
        display: flex;
        justify-content: center;
    }
    .small-co {
        width: 100%;
        margin-left: 46%;
    }
    .Bu-cl{
        margin-left: 26px;
    }
}
@media screen and (max-width: 767px) and (min-width:450px)
{
    .small-co{
        width: 75%;
        height: 50%;
        margin-left: 41%;
    }
   
}
