<div class="page">
    <div class="container">
        <div class="form">
            <form [formGroup]="forgetpasswordform">
            
                <div class="fundoo"><span style="color:#44289e">F</span>
                    <span style="color:#9d2828">u</span>
                    <span style="color:#dede23">n</span>
                    <span style="color:#44289e">d</span>
                    <span style="color:#13702b">o</span>
                    <span style="color:#FF0066">o</span>
                </div>
                <div class="signin">
                    <p>Find your email</p>
                </div>
                <div class="Text">
                    <p>Enter your phone number or recovery email</p>
                </div>
                <div class="box email">
                    <p>
                        <mat-form-field style="width: 180%;" appearance="outline">
                            <mat-label>Email</mat-label>
                            <input style="height: 20px;" matInput placeholder="" formControlName="email">
                            <mat-error>email is required</mat-error>
    
                        </mat-form-field>
                    </p>
                    
                </div>
                <div class="register">              
 
                    <button class="Next-Butoon" id="next"(click)="onSubmit()">Next</button>
                </div>
            </form>
            
        </div>
    </div>

</div>