.page{
    border: 1px solid brown;
    height: 99.8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    border: 1px solid rgb(191, 195, 191);
    border-radius: 1%;
    height: 70%;
    width: 30%;
}
.fundoo{
  
    font-size:x-large;
    padding-top: 12%;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: serif;
}
.signin{
    font-size:x-large;
    padding-top: 6%; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.Text{
    font-size:larger;
    padding-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-right: 53%;
    margin-left: 17%;
}
.Next-Butoon{
    color: white;
    border: 0 ;
    background-color: #1a73e8;
    font-weight: 650;
    margin-left: 75%;
    border-radius: 10%;
    height: 38px;
    width: 17%;
}