.page{
    border: 1px solid brown;
    height: 99.8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    border: 1px solid rgb(191, 195, 191);
    border-radius: 1%;
    height: 80%;
    width: 30%;
}
.fundoo{
  
    font-size:x-large;
    padding-top: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signin{
    font-size:x-large;
    padding-top: 6%; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.Text{
    font-size:larger;
    padding-top: 2%;
    margin-left: 40px;
    text-align: start;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-right: 53%;
    margin-left: 18%;

}


.tag{
margin-top: 0px;
display:flex ;
justify-content: flex-start;

}
.password{
    
    width: 180%;
}
.register{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    

}
.Next-Butoon{
    color: white;
    border: 0 ;
    background-color: #1a73e8;
    font-weight: 650;
    margin-top: 10%;
    margin-left: 67%;
    border-radius: 10%;
    height: 38px;
    width: 17%;
}


.checkbox {
    margin-left: 40px;
    margin-top: 10px;
    
}

input.show {

    width: 20px;
    height: 20px;
    text-align: center;
    

}
label.Lableshow{
    margin-left: 22px;
    vertical-align: super;


}


